<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Football Manager!
  </h1>
</div>

<div style="text-align:center">

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="summary">Summary</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="teams">Teams</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="players">Players</a>
    </li>
  </ul>

  <br>
  <hr>


  <router-outlet></router-outlet>

</div>
